@import '../js/vendor/reveal/css/theme/template/mixins.scss';
@import '../js/vendor/reveal/css/theme/template/settings.scss';
@import "compass";
@import 'variables';

// Base settings for all themes that can optionally be
// overridden by the super-theme

// Background of the presentation
$backgroundColor: $grey-lt;

// Primary/body text
$mainFont: $whitney;
$mainFontSize: 32px;
$mainColor: $grey-dk;

// Headings
$headingMargin: 0 0 16px 0;
$headingFont: $tungsten;
$headingColor: $blue;
$headingLineHeight: 0.9em;
$headingLetterSpacing: 0.02em;
$headingTextTransform: uppercase;
$headingTextShadow: 1px 1px 0px rgba(255,255,255,0.75);
$heading1TextShadow: 1px 1px 0px rgba(0,0,0,0.75);

// Links and actions
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: $orange;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
  background: $backgroundColor;
}

@import '../js/vendor/reveal/css/theme/template/theme.scss';
@import 'prismjs';

// Extendables:
%flex-two-col {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: stretch;
  -moz-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;


  > * {
    width: 50%;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
  }
}

%flex-two-col-mid {
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

// My overrides:
.reveal {

  :not(pre) > code[class*="language-"] {
    display: inline;
    @include border-radius(0);
    border: none;
    padding: 0;
    vertical-align: inherit;
    line-height: inherit;
  }

  h1 {
    font-weight: 600;

    a {
      color: lighten($blue, 10%) !important;
      &:hover { text-decoration: underline !important; }
    }
  }

  h2 {
    color: mix($grey-md, $grey-dk);
  }

  #{headings(2,6)} {
    // This comes in from reveal.js's base styles
    text-transform: none;
  }

  #{headings()} {
    small {
      display: block;
      font-size: 0.875em;
    }
  }

  p {
    margin: 1em 0;
  }


  p.large {
    border-bottom: 2px solid #bbb;
    border-top: 2px solid #fff;
    padding: 0.5em 0;
    font-size: 36px;
    font-weight: 700;

    position: relative;

    &:before, &:after {
      position: absolute;
      left: 0;
      right: 0;
      content: " ";
      font-size: 0;
    }
    &:before {
      top: -2px;
      border-top: 2px solid #bbb;
    }
    &:after {
      bottom: -2px;
      border-bottom: 2px solid #fff;
    }
  }

  p.small {
    border-style: dotted;
    border-color: #bbb;
    border-width: 1px 0;
    padding: 1em 0;
    font-size: 24px;
    font-style: italic;
  }

  p.citation {
    margin-top: 0;
    font-size: 18px;
    font-style: italic;
  }

  p.filename {
    text-align: left;
    font-size: 20px;
    margin-bottom: 0;
    font-family: Consolas, Monaco, 'Andale Mono', monospace;
  }

  a.reference {
    display: block;
    line-height: 1;
    font-size: 1.5em;
    margin: 1em auto 0;
    padding: 0.25em 0.75em;
    @include text-shadow(2px 2px 3px rgba(0,0,0,0.375));

    &:hover {
      @include text-shadow(3px 3px 3px rgba(0,0,0,0.5));
    }
  }

  a[target="_blank"]:after {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    width: 1em;
    margin-left: 0.5em;
    height: 1em;
    background: {
      image: url('../slides/img/new-window.svg');
      size: contain;
      repeat: no-repeat;
      position: center center;
    }
    @include opacity(0.5);
  }

  ul li {
    margin-bottom: 0.5em !important;
  }

  ul.two-col {
    list-style: none;
    margin: 1em 0;
    padding: 0;

    @extend %flex-two-col;

    > li {
      box-sizing: border-box;
      text-align: center;
      padding: 1em;
      margin-bottom: 0;
    }
  }

  ul.listreset {
    margin: 0;
    li {
      margin: 0;
      list-style: none;
    }
  }

  ul.divided {
    display: block;
    width: auto;
    border-top: 2px solid #bbb;
    border-bottom: 2px solid #fff;
    li {
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      margin-bottom: 0 !important;
      border-bottom: 2px solid #bbb;
      border-top: 2px solid #fff;
    }
  }

  .centered {
    text-align: center;
  }

  .columns, .mid-columns {
    @extend %flex-two-col;
    > * {
      @include box-sizing(border-box);
      padding: 1em;
    }

    > div > pre {
      margin-left: -1em;
      margin-right: -1em;
      width: auto;
    }
  }

  .mid-columns {
    @extend %flex-two-col;
    @extend %flex-two-col-mid;
  }

  .bold {
    font-weight: 600;
  }

  pre {
    font-size: 0.75em;

    code {
      max-height: none;
    }
  }

  .fourkitchens {
    color: #35AA4E;
  }

  table {
    font-size: 0.875em;
    width: 100%;

    td {
      padding: 0.25em;
    }
  }

  img {
    height: auto;
  }

  ul.list-big, ol.list-big {
    border-top: 3px solid #d6d6d6;
    border-bottom: 3px solid #fff;
    counter-reset: list-counter;
    li {
      font-size: 1.125em;
      padding: 0.75em 1em;
      margin: 0 !important; // Reveal adds margin with !important
      list-style: none;
      text-align: center;
      border-top: 3px solid #fff;
      border-bottom: 3px solid #d6d6d6;

      small {
        display: block;
        font-size: 0.75em;
        font-style: italic;
      }
    }
  }

  ol.list-big li {
    position: relative;
    padding-left: 2em;

    &:before {
      content: counter(list-counter);
      counter-increment: list-counter;

      position: absolute;
      top: 0;
      left: 0;
      padding: 0 0.375em 0.125em 0.375em;

      font-size: 0.75em;
      font-family: 'Archer SSm A', 'Archer SSm B';
      font-weight: 800;
      font-style: italic;

      background-color: #fff;
      color: #999;

      border-left: 1px solid #d6d6d6;
      border-bottom: 1px solid #d6d6d6;
    }
  }
}

// Special slides:

.intro-tsmith body {
  background: {
    image: url('../slides/img/intro-tsmith.jpg');
    size: contain;
    position: left center;
    color: white;
    repeat: no-repeat;
  }

  section.present {
    right: 0;
    text-align: right;
  }
}

.intro-patrick body {
  background: {
    image: url('../slides/img/intro-patrick.jpg');
    size: contain;
    position: right center;
    color: white;
    repeat: no-repeat;
  }

  section.present {
    right: 0;
    text-align: left;
  }
}

.intro-matt body {
  background: {
    image: url('../slides/img/intro-matt.jpg');
    size: contain;
    position: center bottom;
    color: white;
    repeat: no-repeat;
  }

  section.present {
    padding-bottom: 20em;
    text-align: center;
  }
}


#goals {
  .two-col li {
    padding-top: 0;
  }
}

#flossie, #her-resume {
  .columns {
    @extend %flex-two-col-mid;
  }
}

.ojo body {
  background-color: #8C0005;

  section.present {
    h1, p {
      color: #FCF7D1 !important;
    }

    p {
      background-color: #111111;
      padding-left: 2em;
      padding-right: 2em;
      border-top: 8px solid #B52C00;
      border-bottom: 8px solid #B52C00;

      &:before, &:after {
        display: none;
      }
    }
  }
}


.idea body {
  background-color: #4180AB;

  section.present {

    h1 {
      color: #FFFFFF;
    }

    a, a:hover {
      color: white;
    }

    p {
      color: #E4EBF0;
      padding: 2em;
      border-top: 8px solid #8AB3CF;
      border-bottom: 8px solid #8AB3CF;

      &:before, &:after {
        display: none;
      }

      img {
        background: rgba(255,255,255,0.8);
        border-color: darken(#4180AB, 15%);
      }
    }
  }
}

.credits body {
  background-color: #333;

  section.present {

    h1, p {
      color: #CCC;
    }

    a {
      color: white;
      text-decoration: underline;
    }

    p {
      padding: 2em;
      border-top: 8px solid #666;
      border-bottom: 8px solid #666;

      &:before, &:after {
        display: none;
      }
    }
  }
}

.theatre body {
  background-color: #222;

  section.present {
    h1, h2, p {
      color: #ddd;
    }

    p.large {
      padding: 2em;
      border-top: 8px solid #333;
      border-bottom: 8px solid #333;

      &:before, &:after {
        display: none;
      }

      img {
        @include box-shadow(none);
        border: 0;
        background: 0;
      }
    }

    a {
      color: white;
    }

    img {
      @include box-shadow(0 0 50px rgba(0,0,0,1));
    }
  }
}

.pause body {
  background-color: darken(#37324A, 5%);

  section.present {

    h1, h2 {
      color: #F2D680;
      @include text-shadow(1px 1px 0px rgba(0, 0, 0, 0.5))
    }

    ul, p {
      color: #DDD;
    }

    a {
      color: #F3A358;
      &:hover {
        color: #F2D680;
      }
    }

    p.small {
      color: lighten(#933C60, 10%);
      border-color: darken(#37324A, 15%);
    }
  }
}

html.agenda { // Add specificity to fight Reveal
  ul {
    border-top: 4px solid #d6d6d6;
    border-bottom: 4px solid #d6d6d6;
    padding: 0.5em 0;
    margin: 0 auto !important;
    width: 20em;

    li {
      @include clearfix;
      padding: 0;
      margin: 0 !important; // Reveal adds margin with !important
      list-style: none;
      font-size: 0.825em;

      .time {
        width: 15%;
        float: left;
        font-weight: 600;
        text-align: right;
      }

      .item {
        width: 80%;
        float: right;
      }

      .break {
        padding: 0.125em 0;
        color: #006DAF; //lighten($grey-dk, 30%);
        font-style: italic;
      }
    }
  }
}

#{nest('.bronze, .silver, .gold', 'body', 'h1, h2')} {
  font-family: 'Archer SSm A', 'Archer SSm B';
  font-style: italic;
  font-weight: 800;
  letter-spacing: -1px;
}

#{nest('.bronze, .silver, .gold', 'body', 'p.large')} {
  color: #eee;
  background-color: rgba(0,0,0,0.8);
  @include box-shadow(5px 0 40px rgba(0,0,0,0.35));
  padding: 2em;
  border-top: 8px solid;
  border-bottom: 8px solid;

  &:before, &:after {
    display: none;
  }
}

.bronze body {
  background-color: #C89F5F;
  @include background-image(linear-gradient(to bottom right, lighten(#C89F5F, 7.5%), darken(#C89F5F, 10%)));

  #{headings(1,2)} {
    color: darken(#C89F5F, 30%);
  }

  p.large {
    border-top-color: darken(#C89F5F, 25%);
    border-bottom-color: darken(#C89F5F, 25%);

    em {
      color: #C89F5F;
    }
  }
}

.silver body {
  background-color: #D7D7D7;
  @include background-image(linear-gradient(to bottom right, lighten(#D7D7D7, 5%), darken(#D7D7D7, 15%)));

  #{headings(1,2)} {
    color: darken(#D7D7D7, 35%);
  }

  p.large {
    border-top-color: darken(#D7D7D7, 25%);
    border-bottom-color: darken(#D7D7D7, 25%);

    em {
      color: #D7D7D7;
    }
  }
}

.gold body {
  background-color: desaturate(#F0D67C, 10%);
  @include background-image(linear-gradient(to bottom right, #F0D67C, darken(desaturate(#F0D67C, 10%), 20%)));

  #{headings(1,2)} {
    color: darken(#F0D67C, 40%);
  }

  p.large {
    border-top-color: darken(#F0D67C, 25%);
    border-bottom-color: darken(#F0D67C, 25%);

    em {
      color: #F0D67C;
    }
  }
}
