/**
 * @file _header.scss
 * The general page header
 */

header {
  @extend %region;

  @include fancy-border();
  margin-bottom: 1em;

  h1 {
    color: $red;
  }

  dl {
    font-family: $font-handwritten;

    dt, dd {
      display: inline;
      white-space: nowrap; // With this, and the &nbsp; between dt+dd, they'll break lines together
    }

    dd {
      margin-left: 0;
      margin-right: .5em;
    }
  }
}
