////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////

//////////////////////////////
// Media Border
//////////////////////////////
%media-shared {
  border-style: outset;
  margin: .25em 0;
}


//////////////////////////////
// Basic Region Styles
//////////////////////////////
%region {
  padding: 1em;
}
