////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////

//////////////////////////////
// Media Border
//////////////////////////////
%media-shared {
  border-style: outset;
  margin: .25em 0;
}


//////////////////////////////
// Basic Region Styles
//////////////////////////////
%region {
  padding: 1em;
}

//////////////////////////////
// The Micro Clearfix
//////////////////////////////
%clearfix {
  zoom: 1; // For IE 6/7 (trigger hasLayout)
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}
