////////////////////////
// Variables Partials
//
// All of your variables should go in this file.
////////////////////////

//////////////////////////////
// Colors
//////////////////////////////
$red:      #B82E07;
$teal:     #7EAB8C;
$green:    #DAE681;
$beige:    #F9FFC9;
$charcoal: #393B2E;

//////////////////////////////
// Fonts
//////////////////////////////
$webfont-serif: "Open Sans";
$websafe-serif: "Helvetica", "Arial", sans-serif;

$webfont-dec: "Rokkitt";
$websafe-dec: "Rockwell Bold", Geneva, "Courier New", Courier, monospace;

$font-sansserif:   append($webfont-serif, $websafe-serif, comma);
$font-titling:     append($webfont-dec, $websafe-dec, comma);
$font-handwritten: 'Permanent Marker', 'Technical', $websafe-serif;
$font-script:      'Pacifico', 'Technical', $websafe-serif;

$line-height: 1.25;

//////////////////////////////
// Media Border Options
//////////////////////////////
$border-width: .35em;

//////////////////////////////
// Grid Setup
//////////////////////////////

@include sgs-change('debug', true);
@include sgs-change('output', 'float');
// @include add-gutter();
// @include add-grid();

//////////////////////////////
// Breakpoint Setup
//////////////////////////////

// $my-breakpoint: xyz;
